[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicore = "*"
pydantic = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
alembic = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
